body       { background-color: #ffffff}
body.foo   { background-color: #f9f8f8}
p.p1       { margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Arial; background-color: #ffffff}
.errBox    { font: 16px "New Courier"; background-color: lightgrey ; font-color: red;}
.testBox   { font: 13px Helvetica; background-color: lightyellow ; font-color: darkgreen;}
.mainBox   { font: 18px Cambria; background-color: lightgrey ; font-color: darkblue;}
.losen     { font: 22px Cambria; color: darkred}

.ansokan     { font: 14px Georgia; color: darkblue; background-color: #FFFFDE}
#jubelDatum  { font: 200px Georgia; color: darkblue; background-color: #FFFFDE; font-weight: bolder; text-align: center;height: 400px}

#jubelDagen   { font: 65px Georgia; color: darkgoldenrod; background-color: #FFFFDE; font-style: italic; text-align: center;height: 100px}
#jubelKontakt { font: 65px Georgia; color: darkgoldenrod; background-color: #FFFFDE; font-style: oblique; font-weight: bolder; text-align: center;height: 100px; }
div.logo      { font: 16px Helvetica; color: black; background-color: white }